.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 50px;
}
.About-img img {
  width: 100%;
  height: 500px;
}
.about-typo {
  /* display: flex; */
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-top: 20px;
}
.about-heading {
  margin-top: 10%;
  display: flex;
  justify-content: flex-start;
}
.about-para {
  /* display: flex;
  justify-content: flex-start; */
  flex-direction: column;
  font-size: 20px;
}
.about-para p {
  display: flex;
  text-align: left;
  justify-content: flex-start;
}
@media screen and (min-device-width: 375px) and (max-device-width: 800px) {
  .About-img img {
    width: 100%;
    height: 300px;
  }
}
